.register-bg {
    background-image: url(https://i.ibb.co/jLSDM2s/bannerbackground.png);
    background-size: cover;
    background-origin: content-box;
    background-position: center;
}

.inputFiled, .Btn {
    width: 300px;
}